@font-face {
  src: url("../fonts/Montserrat-Regular.ttf");
  font-family: "Montserrat";
}

.svg-social-circle {
  fill: #0099ff;
  -webkit-transition: all 0.1 ease-in-out;
  transition: all 0.1 ease-in-out;
}

.svg-social-circle:hover, .svg-social-circle:focus {
  fill: #0e5f95;
}

.svg-social-path {
  fill: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  font-size: 100%;
  height: 100%;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}

@media only screen and (min-width: 768px) {
  body {
    background-image: url("../img/bg2.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.l-container {
  margin-left: 1rem;
  margin-right: 1rem;
}

@media only screen and (min-width: 992px) {
  .l-container {
    width: 100%;
    max-width: 1020px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 1200px) {
  .l-container {
    max-width: 1180px;
  }
}

.c-button {
  all: unset;
  cursor: pointer;
  text-align: center;
  font-size: 1.125rem;
}

.c-button--primary {
  border-radius: 26px;
  padding: 1rem 0.8rem;
  width: 200px;
  border: 1px solid #0099ff;
  color: #0099ff;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(14, 95, 149, 0.75);
          box-shadow: 0px 5px 10px 0px rgba(14, 95, 149, 0.75);
}

.c-button--primary:focus, .c-button--primary:hover {
  background-color: #0099ff;
  color: #ffffff;
}

@media only screen and (min-width: 768px) {
  .c-button--primary {
    color: #0e5f95;
    font-weight: 600;
    background-color: #ffffff;
  }
  .c-button--primary:focus, .c-button--primary:hover {
    border: 1px solid #ffffff;
  }
}

.l-header {
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 1.2rem;
  background-color: #0099ff;
}

@media only screen and (min-width: 768px) {
  .l-header {
    background-color: unset;
  }
}

.c-logo {
  width: 150px;
  -o-object-fit: contain;
     object-fit: contain;
  color: #ffffff;
}

.c-logo__iconLogo {
  width: 100%;
  height: auto;
}

.h-hide {
  display: none;
}

@media only screen and (min-width: 768px) {
  .h-desktop {
    display: none;
  }
}

.c-menu {
  z-index: 10;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 85vw;
  background: rgba(1, 22, 39, 0.98);
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .c-menu {
    position: static;
    background: inherit;
    height: auto;
    width: auto;
    display: block;
  }
}

.c-menu__list {
  list-style-type: none;
}

@media only screen and (min-width: 768px) {
  .c-menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.c-menu__item {
  padding: 1.4rem;
  border-bottom: 1px solid rgba(228, 230, 227, 0.4);
}

@media only screen and (min-width: 768px) {
  .c-menu__item {
    border: none;
    padding: 0 0 0 2rem;
  }
}

.c-menu__item:first-child {
  font-size: 1.125rem;
  padding: 2rem;
  color: #ffffff;
  background-color: #011224;
}

@media only screen and (min-width: 768px) {
  .c-menu__item:first-child {
    display: none;
  }
}

.c-menu__link {
  font-size: 0.875rem;
  font-weight: 500;
  text-decoration: none;
  color: #ffffff;
}

@media only screen and (min-width: 768px) {
  .c-menu__link {
    color: #0e5f95;
    border-bottom: none;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
  }
  .c-menu__link:hover {
    color: #498fb5;
    border-bottom: 1px solid #498fb5;
  }
}

.l-welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90vh;
  margin-left: 1rem;
  margin-right: 1rem;
}

@media only screen and (min-width: 992px) {
  .l-welcome {
    margin-left: auto;
    margin-right: auto;
    max-width: 1580px;
  }
}

.c-welcome {
  color: #011627;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 90vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (min-width: 576px) {
  .c-welcome {
    padding: 0 2rem;
  }
}

@media only screen and (min-width: 768px) {
  .c-welcome {
    color: #ffffff;
    height: 60vh;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.c-welcome__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media only screen and (min-width: 768px) {
  .c-welcome__content {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: left;
    width: 50%;
  }
}

.c-welcome__head {
  font-size: 1.725rem;
  width: 250px;
  line-height: 1.4;
}

.c-welcome__description {
  font-size: 0.875rem;
  line-height: 1.8;
  opacity: 0.85;
}

@media only screen and (min-width: 768px) {
  .c-welcome__description {
    font-size: 1.125rem;
  }
}

.c-welcome__ilustration {
  display: none;
}

@media only screen and (min-width: 768px) {
  .c-welcome__ilustration {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        align-self: center;
  }
}

.l-about-us {
  width: 100%;
}

.l-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[auto-fit];
      grid-template-columns: repeat(auto-fit, 1fr);
  -ms-grid-rows: (1fr)[6];
      grid-template-rows: repeat(6, 1fr);
  grid-gap: 3rem;
}

@media only screen and (min-width: 576px) {
  .l-grid {
    padding: 0 2rem;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 992px) {
  .l-grid {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
  }
}

.c-about-us__head {
  text-align: center;
  padding: 6rem;
}

.c-about-us__card {
  border: 2px solid #eeeeee;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-box-shadow: 0px 5px 10px -5px rgba(184, 180, 184, 0.4);
          box-shadow: 0px 5px 10px -5px rgba(184, 180, 184, 0.4);
}

.c-about-us__card:focus, .c-about-us__card:hover {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

.c-about-us__content {
  padding: 1rem;
  text-align: center;
}

.c-about-us__description {
  color: #9b9aac;
  font-size: 0.875rem;
  padding: 2rem 0;
  line-height: 1.6;
}

.c-about-us__cardImage {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.l-technologies {
  padding-bottom: 6rem;
}

.c-technologies__head {
  text-align: center;
  padding: 6rem;
}

.c-technologies__card {
  position: relative;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  opacity: 0.8;
}

.c-technologies__card:hover, .c-technologies__card:focus {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.c-technologies__card:hover::before, .c-technologies__card:focus::before {
  position: absolute;
  top: 0;
  content: "";
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 255, 0.7);
}

.c-technologies__title {
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.c-technologies__cardImage {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.c-footer {
  background: #f0f1ee;
  text-align: center;
  padding: 2rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (min-width: 768px) {
  .c-footer:before, .c-footer:after {
    content: "";
    height: 164px;
    border: 1px solid #0099ff;
    opacity: 0.4;
  }
}

.c-footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .c-footer__content {
    width: 350px;
  }
}

.c-footer__head {
  color: #0099ff;
}

.c-footer__socials {
  padding: 2rem 0;
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  -ms-grid-columns: (25px)[3];
      grid-template-columns: repeat(3, 25px);
  -ms-grid-rows: (25px)[1];
      grid-template-rows: repeat(1, 25px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 100px;
}

.c-footer__socialBox {
  cursor: pointer;
}

.c-footer__socialBox:hover, .c-footer__socialBox:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.c-footer__author {
  font-size: 0.875rem;
  color: #9b9aac;
}
/*# sourceMappingURL=style.css.map */