@keyframes text-focus-in {
    0% {
        //filter: blur(10px);
        opacity: 0;
    }
    100% {
        //filter: blur(0px);
        opacity: 1;
    }
}
@keyframes slide-in-from-left {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes slide-in-from-right {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}
