@import "./share";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-size: 100%;
    height: 100%;
    width: 100%;
    font-family: "Montserrat", sans-serif;
}

body {
    @include responsive(medium-devices) {
        background-image: url("../img/bg2.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}
.c-button {
    all: unset;
    cursor: pointer;
    text-align: center;

    &--primary {
        border-radius: 26px;
        padding: 1rem 0.8rem;
        width: 200px;
        border: 1px solid #0099ff;
        color: #0099ff;
        transition: all 0.1s ease-in-out;

        &:focus,
        &:hover {
            background-color: #0099ff;
            color: $font-primary;
        }

        @include responsive(medium-devices) {
            color: #0e5f95;
            background-color: white;

            &:focus,
            &:hover {
                border: 1px solid white;
            }
        }
    }
}
.l-header {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1.2rem;

    background-color: #0099ff;

    @include responsive(medium-devices) {
        background-color: unset;
    }
}

.l-logo {
}

.c-logo {
    width: 150px;
    object-fit: contain;
    color: $font-primary;
    &__iconLogo {
        width: 100%;
        height: auto;
    }
}

.l-menu {
}
.h-hide {
    display: none;
}
.h-desktop {
    @include responsive(medium-devices) {
        display: none;
    }
}
.c-menu {
    z-index: 10;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 85vw;
    background: rgba(#011627, 0.98);
    text-align: center;

    @include responsive(medium-devices) {
        position: static;
        background: inherit;
        height: auto;
        width: auto;
        display: block;
    }

    &__list {
        list-style-type: none;

        @include responsive(medium-devices) {
            display: flex;
        }
    }
    &__item {
        padding: 1.4rem;
        border-bottom: 1px solid rgba(#e4e6e3, 0.4);

        @include responsive(medium-devices) {
            border: none;
            padding: 0 0 0 2rem;
        }

        &:first-child {
            font-size: 1.125rem;
            padding: 2rem;
            color: $font-primary;
            background-color: #011224;

            @include responsive(medium-devices) {
                display: none;
            }
        }
    }

    &__link {
        font-size: 0.875rem;
        font-weight: 500;
        text-decoration: none;
        color: $font-primary;

        @include responsive(medium-devices) {
            color: #0e5f95;
            border-bottom: none;
            transition: all 0.1s ease-in-out;

            &:hover {
                color: #498fb5;
                border-bottom: 1px solid #498fb5;
            }
        }
    }
}

.l-main {
    color: #011627;
    margin-left: 1rem;
    margin-right: 1rem;
    @include responsive(medium-devices) {
        color: $font-primary;
    }

    @include responsive(large-devices) {
        width: 100%;
        max-width: 1060px;
        margin-left: auto;
        margin-right: auto;
    }

    @include responsive(extra-large-devices) {
        max-width: 1600px;
    }
}

.l-welcome {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90vh;
}
.c-welcome {
    width: 100%;
    display: flex;
    height: 90vh;
    justify-content: center;

    @include responsive(small-devices) {
        padding: 0 2rem;
    }
    @include responsive(medium-devices) {
        height: 60vh;
        justify-content: space-between;
    }

    &__content {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        justify-content: space-around;

        @include responsive(medium-devices) {
            justify-content: space-between;
            align-items: flex-start;
            text-align: left;
            width: 50%;
        }
    }

    &__head {
        letter-spacing: 2px;
        font-size: 1.725rem;
        width: 250px;
        line-height: 1.4;
    }

    &__description {
        font-size: 0.875rem;
        // padding: 3rem 0;
        line-height: 1.8;
        opacity: 0.85;
        display: flex;

        @include responsive(medium-devices) {
            font-size: 1.125rem;
            //padding: 0;
        }
    }
    &__ilustration {
        display: none;

        @include responsive(medium-devices) {
            display: flex;
            align-self: center;
        }
    }
}
