@import "./share";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
    font-size: 100%;
    height: 100%;
    width: 100%;
    font-family: "Montserrat", sans-serif;
}

body {
    @include responsive(medium-devices) {
        background-image: url("../img/bg2.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}
.c-button {
    all: unset;
    cursor: pointer;
    text-align: center;
    font-size: 1.125rem;

    &--primary {
        border-radius: 26px;
        padding: 1rem 0.8rem;
        width: 200px;
        border: 1px solid $blue-primary;
        color: $blue-primary;
        transition: all 0.1s ease-in-out;
        box-shadow: 0px 5px 10px 0px rgba(14, 95, 149, 0.75);

        &:focus,
        &:hover {
            background-color: $blue-primary;
            color: $font-primary;
        }

        @include responsive(medium-devices) {
            color: #0e5f95;
            background-color: $color-primary;

            &:focus,
            &:hover {
                border: 1px solid $color-primary;
            }
        }
    }
}
.l-header {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1.2rem;

    background-color: $blue-primary;

    @include responsive(medium-devices) {
        background-color: unset;
    }
}

.c-logo {
    width: 150px;
    object-fit: contain;
    color: $font-primary;
    &__iconLogo {
        width: 100%;
        height: auto;
    }
}

.h-hide {
    display: none;
}
.h-desktop {
    @include responsive(medium-devices) {
        display: none;
    }
}
.c-menu {
    z-index: 10;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 85vw;
    background: rgba(#011627, 0.98);
    text-align: center;

    @include responsive(medium-devices) {
        position: static;
        background: inherit;
        height: auto;
        width: auto;
        display: block;
    }

    &__list {
        list-style-type: none;

        @include responsive(medium-devices) {
            display: flex;
        }
    }
    &__item {
        padding: 1.4rem;
        border-bottom: 1px solid rgba(#e4e6e3, 0.4);

        @include responsive(medium-devices) {
            border: none;
            padding: 0 0 0 2rem;
        }

        &:first-child {
            font-size: 1.125rem;
            padding: 2rem;
            color: $font-primary;
            background-color: #011224;

            @include responsive(medium-devices) {
                display: none;
            }
        }
    }

    &__link {
        font-size: 0.875rem;
        font-weight: 600;
        text-decoration: none;
        color: $font-primary;

        @include responsive(medium-devices) {
            color: #0e5f95;
            border-bottom: none;
            transition: all 0.1s ease-in-out;

            &:hover {
                color: #498fb5;
                border-bottom: 1px solid #498fb5;
            }
        }
    }
}

.l-main {
    margin-left: 1rem;
    margin-right: 1rem;
    @include responsive(medium-devices) {
    }

    @include responsive(large-devices) {
        width: 100%;
        max-width: 1060px;
        margin-left: auto;
        margin-right: auto;
    }

    @include responsive(extra-large-devices) {
        max-width: 1500px;
    }
}

.l-welcome {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90vh;
}
.c-welcome {
    color: $font-dark;
    width: 100%;
    display: flex;
    height: 90vh;
    justify-content: center;

    @include responsive(small-devices) {
        padding: 0 2rem;
    }

    @include responsive(medium-devices) {
        color: $font-primary;
        height: 60vh;
        justify-content: space-between;
    }

    &__content {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        justify-content: space-around;

        @include responsive(medium-devices) {
            justify-content: space-between;
            align-items: flex-start;
            text-align: left;
            width: 50%;
        }
    }

    &__head {
        font-size: 1.725rem;
        width: 250px;
        line-height: 1.4;
    }

    &__description {
        font-size: 0.875rem;
        line-height: 1.8;
        opacity: 0.85;

        @include responsive(medium-devices) {
            font-size: 1.125rem;
        }
    }

    &__ilustration {
        display: none;

        @include responsive(medium-devices) {
            display: flex;
            align-self: center;
        }
    }
}

.l-about-us {
    width: 100%;
}

.l-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-gap: 3em;

    @include responsive(medium-devices) {
        padding: 0 2rem;
        grid-template-columns: repeat(2, 1fr);
    }

    @include responsive(large-devices) {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}
.c-about-us {
    &__head {
        @include cardHead;
    }

    &__card {
        border: 2px solid #eeeeee;
        transition: all 0.2s ease-in-out;
        box-shadow: 0px 5px 10px -5px rgba(184, 180, 184, 0.4);

        &:focus,
        &:hover {
            transform: scale(1.04);
        }
    }

    &__content {
        padding: 1rem;
        text-align: center;
    }

    &__description {
        color: $font-lessDark;
        font-size: 0.875rem;
        padding: 2rem 0;
        opacity: 0.95;
        line-height: 1.6;
    }

    &__cardImage {
        @include cardImage;
    }
}

.l-technologies {
    padding-bottom: 6rem;
}

.c-technologies {
    &__head {
        @include cardHead;
    }

    &__card {
        opacity: 0.7;
        position: relative;
        transition: 0.2s ease-in-out;

        &:hover,
        &:focus {
            transform: translateY(-5px);

            &::before {
                position: absolute;
                top: 0;
                content: "";
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba($blue-hoverCard, 0.7);
            }
        }
    }

    &__title {
        color: $font-primary;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__cardImage {
        @include cardImage;
    }
}
.l-footer {
}
.c-footer {
    background: #f0f1ee;
    text-align: center;
    padding: 2rem 1rem;
    display: flex;
    justify-content: center;

    @include responsive(medium-devices) {
        &:before,
        &:after {
            content: "";
            height: 164px;
            border: 1px solid $blue-primary;
            opacity: 0.4;
        }
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;

        @include responsive(medium-devices) {
            width: 350px;
        }
    }

    &__head {
        color: $blue-primary;
    }

    &__socials {
        padding: 2rem 0;
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(3, 25px);
        grid-template-rows: repeat(1, 25px);
        justify-content: center;
        max-width: 100px;
    }
    &__socialBox {
        cursor: pointer;

        &:hover,
        &:focus {
            transform: scale(1.04);
        }
    }

    &__descryption {
        font-size: 0.875rem;
        color: $font-lessDark;
        opacity: 0.95;
    }
}
